<div class='mat-elevation-z8 container'>
<table mat-table [dataSource]='heroes'>
   <!-- First name colummn -->
   <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> FirstName. </th>
    <td mat-cell *matCellDef="let heroe">{{heroe.firstName}}</td>
  </ng-container>

   <!-- Last name colummn -->
   <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> LastName. </th>
    <td mat-cell *matCellDef="let heroe"> {{heroe.lastName}} </td>
  </ng-container>

   <!-- city colummn -->
   <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City. </th>
    <td mat-cell *matCellDef="let heroe"> {{heroe.city}} </td>
  </ng-container>

  <!-- Action colummn -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions. </th>
    <td mat-cell *matCellDef="let heroe">
      <div style='width: 200px'>
        <a mat-button routerLink="/crear-hero"><mat-icon>check_box</mat-icon></a>
        <a mat-button (click)='deleteHeroe(heroe._id)'><mat-icon>group</mat-icon></a>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="mat-paginator-container" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
